/* Top Bar --------------------------------------------------*/
.topheader {
    background-color:DarkGreen;
    color:white;
    padding:20px;
    font-family: Arial
}

/* all nav bar styling --------------------------------------*/
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Arial
}
.topnav li {
  float: left;
  border-right: 1px solid #bbb;
}
.topnav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav li a:hover, .dropdown:hover .dropbtn {
  background-color: White;
  color:black;
}
.topnav li .dropdown {
  display: inline-block;
}
.topnav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.topnav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.topnav .dropdown-content a:hover {
    background-color: #f1f1f1;
}
.topnav .dropdown:hover .dropdown-content {
  display: block;
}
.topnav .active {
  background-color:DarkOrange;
}